* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: 0;
}

ul {
    list-style: none;
}

header {
    background-color:#0020F4 ;
    padding-top: 40px;
    height: 387.56px;
}

header nav a {
color: white;
}

header li {
margin-left: 40px;
}